@media only screen and (max-width: 570px){

    #top-news .top img{
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #top-news .row{
        margin:0;
        padding: 0;
    }

    #top-news .top{
        display: block;
        box-sizing: border-box;
        /* border: 1px solid black;; */
        margin: 0;
    }
    #top-news .top p{
        padding: 0;
        margin: 0;
        text-align: justify;
       
    }
    #top-news .top h2{
        font-size: 25px;
        padding: 0;
        width: 100%;
    }

    #top-news-two .row{
        display: inline-block;
    }
    #top-news-two a{
        display:flex;
        justify-content: left;
    }
    #top-news-two img{
       width: 0%;
    }



    #corona-virus .row{
        display: block;
    }
    #corona-virus a{
        display: flex;
    }
    #corona-virus img{
        width: 0%;
        height: auto;
    }




    #audio a{
        display: block;
    }



    #audio .row2{
        display: block;
    }
    #audio .row2 a {
        display: flex;
    }

}