@media only screen and (max-width: 570px){

    #top-news .top img{
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #top-news .row{
        margin:0;
        padding: 0;
    }

    #top-news .top{
        display: block;
        box-sizing: border-box;
        /* border: 1px solid black;; */
        margin: 0;
    }
    #top-news .top p{
        padding: 0;
        margin: 0;
        text-align: justify;
       
    }
    #top-news .top h2{
        font-size: 25px;
        padding: 0;
        width: 100%;
    }

    #top-news-two .row{
        display: inline-block;
    }
    #top-news-two a{
        display:flex;
        justify-content: left;
    }
    #top-news-two img{
       width: 0%;
    }



    #corona-virus .row{
        display: block;
    }
    #corona-virus a{
        display: flex;
    }
    #corona-virus img{
        width: 0%;
        height: auto;
    }




    #audio a{
        display: block;
    }



    #audio .row2{
        display: block;
    }
    #audio .row2 a {
        display: flex;
    }
    #audio .row2 video{
        width: 0%;
        height: auto;
    }



    #letter a, #report a, #history a{
        display: block;
    }





    #other .row{
        display: block;
    }
    #other a{
        display: flex;
        flex-direction: row;
    }
    #other a img{
        width: 0%;
    }



    #photo .row, #archive .row{
        display: block;
    }
    #photo a, #archive a{
        display: block;
    }


    #top_footer .row{
        margin: 0;
    }
    #top_footer a p{
        padding: 5px;
    }
    #footer .row{
        margin: 0 5px ;
        padding: 0;
        font-size: 15px;
    }
    #footer{
        height: ;
    }
    #footer a{
        font-size: 12px;
        padding: 5px;
    }
    #footer span{
        font-size: 12px;
    }
    #footer .row:nth-child(2) a{
        padding: 5px 0;
    }
}